[Desktop Entry]
Version=1.0
Type=Application
Name=AndroidStudio
Comment=
Exec=/opt/android-studio/bin/studio.sh
Icon=android-sdk
Path=
Terminal=false
StartupNotify=false
